html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

header {
    height: 92px;
    background-color: #3b5998;
}

#header-menu {
    position: absolute;
    z-index: 100;
    top: 17px;
    left: 100px;
    right: 100px;
    width: 1096px;
    margin: 0 auto;
}

#facebook {
    font-weight: bold;
    display: inline-block;
    color: #fff;
    font-size: 45px;
}

.id_pw_login-button {
    float: right;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
}

#id {
    width: 140px;
    display: inline-block;
    margin-right: 39px;
    float: left;

}

.input-border {
    margin-top: 8px;
}

.input-border>input {
    border: 1px solid black;
    padding: 3px;
}
#_ID {
    color: #9cb4d8;
    font-size: 13.2px;
}
#_ID:hover {
    text-decoration: underline;
    cursor: pointer;
}
#pw {
    width: 140px;
    display: inline-block;
}

#login-button {
    margin-left: 40px;
    margin-top: 26px;
    float: inherit;
    padding: 2.5px;
    border: 1px solid navy;
    border-radius: 2px;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 0.5px solid;
    cursor: pointer;
    transition: 0.5s;
}

#login-button:hover {
    background-color: transparent;
}
#bd {
    height: 625px;
    background:linear-gradient(#fff,#D3D8E8)
}
#bd_contents {
    width: 980px;
    margin: 0 auto;
}
#bd_left {
    
}
#bd_right {
    vertical-align: top;
    float: right;
}

#advice {
    color: #0e385f;
    font-size: 23px;
    font-weight: bold;
    margin-top: 40px;
}

#left_contents {

}

#right_contents {
    height: 573px;
}

h1 {
    font-size: 36px;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 21px;
}

h2 {
    font-size: 20px;
    margin: 0px;
    font-weight: 400;
    padding-bottom: 20px;
}

.name > input {
    padding: 10px 8px;
    width: 189px;
}

._input > input {
    border :1px solid #bdc7d8;
    border-radius: 5px;
    font-size: 21px;
    margin-bottom: 13px;
}
._input > ::placeholder {
    color: rgb(153, 153, 153);
}

#phone_email > input {
    padding: 8px 163px 8px 10px;
}

#password > input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 163px;
}
#_birth {
    font-size: 20px;
}
.select_box {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

#birth_advice {
    font-size:13px;
    display: inline-block;
    color:#365899;
    width: 188px;
    vertical-align: middle;
    cursor: pointer;
}

#birth_advice:hover {
    text-decoration: underline;
}

._gender {
    display: inline-block;
    font-size: 19px;
    margin-top: 14px;
}

#explanation {
    font-size: 12px;
    margin-top: 13px;
    color: #777;
}

._explanation {
    color: #365899;
    cursor: pointer;
}

._explanation:hover {
    text-decoration: underline;
}

#join_button >  input {
    margin: 24px 0px;
    padding: 8.5px 67px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(#67ae55, #578843);
    border-radius: 5px;
    border: 1px solid rgb(102, 99, 99);
    box-shadow: inset 0 1px 1px #a4e388;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
#make {
    font-weight: bold;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    display: inline-block;
}
#_make {
    color: #365899;
}
#_make:hover {
    text-decoration: underline;
}